.swiper-container__title {
    max-width: 291px;
    margin-left: 0;
    margin-bottom: 9px;
    margin-top: 9px;
    min-height: 80px;
    display: flex;
    align-items: center;
}

.swiper-container__title .swiper-button-prev:after {
  content: "";
  display: block;
  width: 14px;
  height: 16px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: none;
  background-image: url(../assets/img/left-arrow.svg);
  background-repeat: no-repeat;
}

.swiper-container__title .swiper-button-next:after {
  content: "";
  display: block;
  width: 14px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-family: none;
  background-image: url(../assets/img/right-arrow.svg);
  background-repeat: no-repeat;
}


.swiper-container__title .swiper-wrapper {
  max-width: 196px;
  margin: auto;
}


.swiper-container__title .control-slider {
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 486px;
    margin-bottom: 39px
  }


  
  .swiper-container__title .left-arrow, .right-arrow,.swiper-button-prev, .swiper-button-next{
    background: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    padding: 14px 0;
    cursor: pointer;
    transition: .3s;
    margin-top: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .swiper-container__title .swiper-button-prev {
    left: 10px;
  }

  .swiper-container__title .swiper-button-next {
    right: 10px;
  }
  
  .swiper-container__title .left-arrow:hover, .right-arrow:hover {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  }
  
  .swiper-container__title .left-arrow {
    padding-left: 14px;
  }
  
  .right-arrow {
    padding-left: 20px;
  }
  
  
  .slider-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #2F2F2F;
    text-align: center;
    max-width: 196px;
  }
  
  .slider-title.active {
    display:flex;
  }

  @media (max-width: 480px) {
    .slider-title {
      font-size: 20px;
    }
  }